<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />
	<!--  jQueryのロード -->
	<script src="http://code.jquery.com/jquery.min.js"></script>
		<!-- ページロード時にAjax通信。クエリーでidを取り出し変数numに設定する。
	/*[[${param.id[0]}]]*/はクエリーパラメーターを書き出すtymeleafの変数式。
	$.getは指定したアドレスにAjax通信を開始するもの。実行後は第3引数のcallbackが呼ばれる -->
	<script th:inline="javascript">
	$(document).ready(function(){
		var num = /*[[${param.id[0]}]]*/;
		$.get("/rest/" + num, null, callback);
	});
	function callback(result){
		$('#obj').append('<li>id: ' + result.id + '</li>');
		$('#obj').append('<li>name: ' + result.name + '</li>');
		$('#obj').append('<li>mail: ' + result.mail + '</li>');
		$('#obj').append('<li>age: ' + result.age + '</li>');
		$('#obj').append('<li>memo: ' + result.memo + '</li>');
	}
	</script>
	<!-- callback処理。resultはAjax通信で受け取った結果が収められている
	appendはjQueryのメソッドで、#objで指定したid=objの対象にテキストを挿入する -->
	<style>
	h1 { font-size:18pt; font-weight:bold; color:gray; }
	body { font-size:13pt; color:gray; margin:5px 25px; }
	tr { margin:5px; }
	th { padding:5px; color:white; background:darkgray; }
	td { padding:5px; color:black; background:#e0e0ff; }
	.err { color:red; }
	</style>
</head>
<body>
	<h1 th:text="#{content.title}">Helo page</h1>
	<p th:text="${msg}"></p>
	<!-- Ajax用 -->
	<ol id="obj"></ol>
	 <form th:action="@{/logout}" method="post">
	    <input type="submit" value="Sign Out"/>
	</form>
	 <form sec:authorize="hasRole('${role_user}')" th:action="@{/admin/index}" method="get">
	    <input type="submit"  value="admin専用ページ"/>
	</form>
	<table>
	<form method="post" action="/" th:object="${formModel}" accept-charset="UTF-8">
		<!--  CSRF対策用トークン。ないとspringのsecurityがはじく -->
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<!-- ユーザーロールをもったユーザーの作成 -->
		<input type="hidden" name="role" th:value="${role_user}" />
		<tr><td><label for="username">名前</label></td>
			<td><input type="text" name="username"
				th:value="*{username}" th:errorclass="err" />
			<div th:if="${#fields.hasErrors('username')}"
				th:errors="*{username}" th:errorclass="err">
				</div></td></tr>
		<tr><td><label for="password">password</label></td>
			<td><input type="password" name="password"
				th:value="*{password}" th:errorclass="err" />
			<div th:if="${#fields.hasErrors('password')}"
				th:errors="*{password}" th:errorclass="err">
				</div></td></tr>
		<tr><td><label for="age">年齢</label></td>
			<td><input type="text" name="age"
				th:value="*{age}" th:errorclass="err" />
			<div th:if="${#fields.hasErrors('age')}"
				th:errors="*{age}" th:errorclass="err">
				</div></td></tr>
		<tr><td><label for="mail">メール</label></td>
			<td><input type="text" name="mail"
				th:value="*{mail}" th:errorclass="err" />
			<div th:if="${#fields.hasErrors('mail')}"
				th:errors="*{mail}" th:errorclass="err">
				</div></td></tr>
		<tr><td><label for="memo">電話番号（数字のみ。「－」不要）</label></td>
			<td><textarea name="memo" th:text="*{memo}"
				th:errorclass="err" cols="20" rows="5" ></textarea>
			<div th:if="${#fields.hasErrors('memo')}"
				th:errors="*{memo}" th:errorclass="err"></div></td></tr>
				<tr><td></td><td><input type="submit" /></td></tr>
	</form>
	</table>
	<hr/>
	<table>
	<tr><th>ID</th><th>名前</th><th>年齢</th><th>メール</th><th>メモ（電話番号）</th><th>ロール</th></tr>
	<tr th:each="obj : ${datalist}">
		<td th:text="${obj.id}"></td>
		<td th:text="${obj.username}"></td>
		<td th:text="${obj.age}"></td>
		<td th:text="${obj.mail}"></td>
		<td th:text="${obj.memo}"></td>
		<td th:text="${obj.role}"></td>
	</tr>
	</table>
</body>
</html>